In [ ]:
t1=()

In [ ]:
t2=(10,20,30)

In [ ]:
t3=(10.77,30.66,60.89)

In [ ]:
t4=('one','two','three')

In [ ]:
t5=('Asif',25,(50,100),(150,90))

In [ ]:
t6=(100,'Asif',17.765)

In [2]:
t7=('Asif',25,[50,100],[150,90],{'John','David'},(99,22,33))
len(t7)

6

Tuple indexing

In [5]:
t2=(10,20,30)
t2[0]

10

In [2]:
t4=('one','two','three')
print(t4[0])
print(t4[0][0])
print(t4[-1])

one
o
three

In [3]:
t5=('Asif',25,(50,100),(150,90))
t5[-1]

(150, 90)

Tuple slicing

In [8]:
mytuple=('one','two','three','four','five','six','seven','eight')
print(mytuple[0:3])
print(mytuple[2:5])
print(mytuple[:3])
print(mytuple[:2])
print(mytuple[-3:])
print(mytuple[-2:])
print(mytuple[-1])
print(mytuple[:])

('one', 'two', 'three')
('three', 'four', 'five')
('one', 'two', 'three')
('one', 'two')
('six', 'seven', 'eight')
('seven', 'eight')
eight
('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

Remove & change items

In [9]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [10]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
mytuple[0]=1

TypeError: 'tuple' object does not support item assignment

In [12]:
del mytuple

Loop through a tuple

In [9]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [17]:
mytuple=('one','two','three','four','five','six','seven','eight')
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [18]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

Tuple membership

In [19]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [20]:
'one' in mytuple

True

In [21]:
'ten' in mytuple

False

In [22]:
if 'three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [23]:
if 'fifteen' in mytuple:
    print('fifteen is present in the tuple')
else:
    print('fifteen is not present in the tuple')

fifteen is not present in the tuple

Index position

In [24]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [25]:
mytuple.index('one')

0

In [26]:
mytuple.index('five')

4

In [29]:
mytuple1=('one','two','three','four','one','one','two','three')
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [30]:
mytuple1.index('one')

0

Sorting

In [ ]:
mytuple2=(43,67,99,12,6,90,67)

In [32]:
mytuple2=(43,67,99,12,6,90,67)
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [33]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]